.home-page {
  height: 100vh; 
  display: flex;
  flex-direction: column;
  .home-table {
    margin-top: 10px;
  }
  .home-graph {
    flex-grow: 1;
    margin-bottom: 20px;
  }
}

.share {
  margin-left: 10%;
}
